.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.barlow-regular {
  font-family: "Barlow", sans-serif;
  font-weight: 400;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100dvh;
    background: rgb(255, 255, 255);
}

main{
    font-family: "Montserrat", Sans-serif;

}

header {
    color: white;
    background-color: rgb(20, 89, 168);
    height: 160px;
    display: flex;
    font-size: 12px;
    font-family: "Barlow", Sans-serif;
    justify-content: center;
    align-items: center;
    padding: 4%;
    flex-wrap: wrap;
}

#logo {
    margin-right: 20px;
    width: min(15vw, 150px);
    height: auto;
}

nav {
    flex-wrap: wrap;
    font-size: 1.2em;
    position: relative;
    top: 20px
}

nav a { 
    padding: 0.5em;
    line-height: 200%;
    text-decoration: none;
    font-family: "Barlow", Sans-serif;
    font-weight: bold;
    color: hsla(0, 0%, 100%, 50%);
}

a:hover {
    color: rgb(255, 255, 255);
}


section {
    padding-top: 10px;
    padding-bottom: 60px;
}   

h1 {
    font-size: calc(4vw);
}

h2 {
    color: rgb(209, 49, 89);
    font-size: 20px;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

h3 {
    font-size: 14px;
    text-align: center;
    padding: 0.3em;
}

p {
    margin: 5px;
    line-height: 150%;
    font-size: 10px;
}

.padding-10 {
    padding-left: 10%;
    padding-right: 10%;
}

.padding-20 {
    padding-left: 20%;
    padding-right: 20%;
}

button {
  transition-duration: 0.4s;
}

.button01 {
  background-color: rgb(7, 126, 33);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 12px 24px;
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
}
.button01:hover {
    background-color: rgb(45, 197, 103);
}

.button02 {
  background-color: rgb(167, 167, 167);
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 16px;
  text-align: center;
  display: inline-block;
  font-family: "Montserrat", Sans-serif;
  font-size: 14px;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#sobre .about {
    display: flex;
    flex-direction: column;
    align-items:center;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

#sobre .about p {
    flex: 0 auto;
    max-width: 100%;
    font-size: 16px;
}

#sobre .about figure {
    flex: 0 auto;
    max-width: 80%;
}

#sobre img {
    width: 100%;
    max-width: 500px;
    height: auto;
}

#sobre figcaption {
    text-align: center;
    padding: 5px;
}

.grid-inv {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(80px, 45%));
    justify-content: center;
    justify-items: center;
    align-content: space-around;
    grid-gap: 15px;
}

.grid-inv-item {
    background-color: hsl(0, 0%, 95%);
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 5px;
    padding: 8px;
}

.detail01 {
    font-size: 07px;
    text-align: center;
    color: rgb(92, 92, 92);
}

#inventores {
    background-color: #e7e7e7;
}

#inventor {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    overflow-wrap: break-word;
}

#inventor img {
    max-width: 80%;
    height: auto;
    padding: 10px;
}

#inventor div {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: hsla(0, 0%, 100%, 80%);
    max-width: 30vh;
    padding: 2%;
    border-radius: 20px;
    width: 35vw;
}

#formulario {
    padding-left: 15%;
    padding-right: 15%;
}

form {
    padding: 20px 0px;
    font-size: 1.2em;
    align-content: center;
}

form * {
    margin: 5px;
}

.form-label {
    align-content: center;
}

.form-item {
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    max-width: 100%;
    height: 3em;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 0.8em;
}

.form-text {
    width: 100%;
    max-width: 100%;
    height: 3em;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 0.8em;
}

.form-select {
    height: 3em;
    border: 1px solid rgb(197, 197, 197);
    border-radius: 5px;
    background-color: rgb(236, 236, 236);
    padding: 0.8em;
}

.form-item textarea {
    min-width: 100%;
    height: 200px;
}

#topics {
    display: flex;
    flex-wrap: wrap;
}

footer {
    color: white;
    background-color: rgb(21, 103, 179);
    min-height: 220px;
    font-family: "Barlow", sans-serif;
    justify-content: space-between;
    justify-items: center;
    align-items:normal;
    padding: 60px 60px 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

footer p {
    font-size: 16px;
    padding-bottom: 40px;
    line-height: 200%;
}

.contact-icon {
    filter: invert(100%);
    max-width: 42px;
    height: auto;
    padding: 5px 10px;
    position: relative;
    top: 10px;
}



@media (min-width: 750px) {


header {
    font-size: 18px;
    white-space: normal;
    flex-wrap: nowrap;
    justify-content: center;
}

nav {
    margin-left: auto;
    position: static;
}

section {
    margin-top: 30px;
    margin-bottom: 30px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 28px;
    padding: 20px;
    margin: 20px;
}

h3 {
    font-size: 22px;
}

p {
    margin: 10px;
    line-height: 150%;
    font-size: large;
}

#sobre .about {
    flex-direction: row;
}

#sobre .about p {
    max-width: 53%;
}

#sobre .about figure {
  flex: 0 auto;
  max-width: 38%;
}

.grid-inv {
    grid-template-columns: repeat(auto-fill, minmax(80px, 300px));
    padding: 20px;
}

.detail01 {
    font-size: 15px;
}

.grid-inv-item {
    padding: 20px;
}

#inventor div {
    max-width: 32vh;
}

footer {
    flex-direction:row ;
}

footer p {
    font-size: 20px;
}

}

@media (min-width: 768px) and (max-width: 1024px) {
header {
    padding: 20px;
    height: auto; 
    flex-wrap: wrap;
    justify-content: space-between;
}

nav a {
    font-size: 1em;
    padding: 0.8em;
}

}


@media (min-width: 800px) and (max-width: 1200px) {
header {
    padding: 25px;
    height: auto;
    flex-wrap: wrap;
    gap: 15px;
}

#logo {
    max-width: 140px;
}

nav {
    margin-top: 10px;
}

}